<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255878712782-6vqne8vecfk703i9neifmnvh0v44cven.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255878712782-6vqne8vecfk703i9neifmnvh0v44cven</string>
	<key>API_KEY</key>
	<string>AIzaSyAOsgi6UQt2YPkPF5XHGfJsVijXR2B5Yak</string>
	<key>GCM_SENDER_ID</key>
	<string>255878712782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMarketApp</string>
	<key>PROJECT_ID</key>
	<string>market-app-7870a</string>
	<key>STORAGE_BUCKET</key>
	<string>market-app-7870a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255878712782:ios:c4c17a871af1a4bb09ef9f</string>
</dict>
</plist>